[user]
	email = hiroakisumizaki@gmail.com
	name = Hiroaki Sumizaki
[include]
	path = /Users/hiroakisumizaki/.config/git/common
	path = /Users/hiroakisumizaki/.config/git/alias
	path = /Users/hiroakisumizaki/.config/delta/config
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
