[user]
	email = hiroakisumizaki@gmail.com
	name = Hiroaki Sumizaki
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[include]
	path = ~/.config/git/common
	path = ~/.config/git/alias
	path = ~/.config/delta/config
